<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='Logo.png') }}" />

  <h2 id="nav-header">
    {% if 'user_name' in session %} Hello, {{ session['user_name'] }} {%
    endif %}
  </h2>
 <div>
      <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
      <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
      <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
      <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
      <a class="btn-nav" href="{{ url_for('books_bp.books_show') }}">Books</a>
      <h3>
        <a class="btn-nav" href="{{ url_for('news_bp.books_by_date') }}">
          Browse publication year
        </a>
      </h3>
 </div>
  <div>
      <ul class="parental">
          <h3>
             <a class="btn-nav" href="{{ url_for('news_bp.books_by_author') }}">
                Browse by Author
             </a>
          </h3>
           <dl class ="plane-body" style="height:800px;overflow-y:scroll">
              {% for key in author_urls %}
              <a class="btn-nav" href="{{author_urls[key] }}">{{ key }}</a>
              {% endfor %}
           </dl>
      </ul>
  </div>
  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
